body {
	background-color: #242322;
	text-align: center;
}

label {
	margin: 0 auto;
}

button {
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 5%;
}

.run-button {
	margin: 0 auto;
	height: 400;
}

video {
	margin: 0 auto;
}

progress {
	margin: 0 auto;
}

.column {
	float: left;
	width: 50%;
}

.row {
	display: flex;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}