@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
	font-family: 'Inter', sans-serif;
	text-align: center;
}

body {
	background-color: lightgray;
}

label {
	margin: 0 auto;
}

button {
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 5%;
}

button.run {
	height: 50px;
	font-weight: bold;
}

video {
	margin: 0 auto;
}

progress {
	margin: 0 auto;
}

.column {
	float: left;
	width: 50%;
}

.row {
	display: flex;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}