<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Traffic AI</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

    <style type="text/css">
        .swal-wide {
            width: 750px !important;
            text-align: center;
        }
    </style>

</head>

<body>
    <h1>Traffic AI</h1>

    
    
    <form method="post" action="/classify/">{% csrf_token %}

        <button>Классифицировать</button>

    </form>


</body>